body {
  margin: 0;
  color: white;
  background-color: #00b2ff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 9px;
}
.headerElements {
  display: grid;
  grid-template-columns: 50px 1fr 180px;
  align-items: center;
}
.choosetab {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  margin-left: 25px;
}
.tab a {
  font-family: "Inknut Antiqua", sans-serif;
  margin-right: 1rem;
  color: black;
  transition: color 0.3s, border-bottom 0.3s;
}
.tab.active a {
  color: rgb(97, 96, 96);
}
.tab a:hover {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}
.contact-icon {
  margin-right: 16px;
}
.contact-icon img {
  width: 1.2rem;
  height: 1.2rem;
}
.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}
.main-header {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.divider {
  width: 100%; /* 화면 폭의 80% */
  height: 2px; /* 선 두께 */
  background-color: #ccc; /* 선 색깔 */
  margin: 0px auto; /* 위아래 여백 + 가운데 정렬 */
  border-radius: 2px; /* 모서리 살짝 둥글게 */
  opacity: 0.6; /* 부드럽게 보이도록 */
}
.title-header .logo {
  width: 3em;
}
.title-header .title {
  font-family: "Jersey 10", sans-serif;
  color: black;
  font-size: 4rem;
}
.clock {
  display: flex;
  flex-flow: column wrap;
  width: 224px;
  height: 80px;
  margin-left: 2%;
}
.search-container {
  margin-right: 3%;
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.contents {
  padding: 0 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin-top: 1%;
  margin-bottom: 3%;
}
.contents img {
  max-width: 100%;
  height: auto;
}
.problem-container {
  width: 100%;
  background-color: gray;
}
.upperpart {
  display: inline-block;
  position: relative;
  width: 100%;
}
.upperpart img {
  display: block; /* 이미지 아래 여백 제거 */
  width: 100%; /* 너무 커지지 않도록 */
  height: 180px;
  object-fit: cover;
}
.lowerpart {
  width: 100%;
  background-color: rgb(53, 52, 52);
  display: flex;
  flex-direction: column;
}
.lowerpart .problem {
  height: 50%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.lowerpart .problem-tag,
.lowerpart .problem-date {
  display: block;
  width: 100%;
}
.lowerpart .problem .problem-title {
  margin-left: 3%;
  font-size: 1.2rem;
  line-height: 1.1;
  max-height: 100%;
  overflow: hidden;
  font-weight: bold;
}
.lowerpart .problem .problem-difficulty {
  align-items: center;
  width: 90%;
}
.lowerpart .problem .problem-difficulty img {
  width: 80%;
  margin-left: 10%;
}
.lowerpart .problem-date {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 2%;
  color: #d0e0e5; /* 밝은 회색/청회색 */
}
.lowerpart .problem-tag {
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 2%;
  margin-top: 0px;
  max-height: 100%;
  color: #ffb347; /* 밝은 오렌지, 블루와 잘 대비 */
}
/*Animaions*/
.block {
  width: calc(100% / 12);
  height: 20%;
  color: #474747;
  transition: 0.4s;
}
.block:not(:nth-child(n + 16)):nth-child(n + 11),
.block:not(:nth-child(n + 46)):nth-child(n + 41) {
  margin-right: 10px;
}
.block:not(:nth-child(n + 31)):nth-child(n + 26) {
  margin-right: 20px;
}
.block:before {
  content: attr(data-num);
  position: relative;
  display: block;
  font-size: 10px;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
}
.block:nth-child(-n + 10):before {
  content: "0" attr(data-num);
}
.block.active:before {
  color: whitesmoke;
  font-weight: 500;
}
.block.second:before {
  color: #ff8300;
}
body.light-theme {
  background: #e6e6e6;
}
body.light-theme .block {
  outline: 1px solid #dfdfdf;
  color: #acacac;
}
body.light-theme .block.active:before {
  color: #333;
}
body.light-theme .block.second {
  background: #d4d4d4;
}
body.light-theme .block.second:before {
  color: #333;
}
body.light-theme .divider {
  background: #333;
}

.search-container:hover > .search-input {
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: #5cbdbb;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dino {
  width: 8em;
  height: 10em;
  margin: 0 auto;
  position: relative;
  -webkit-animation: walk-bounce-animation 1.5s infinite;
  animation: walk-bounce-animation 1.5s infinite;
}

.dino__head {
  height: 47%;
  margin-left: 33.333%;
  width: 66.666%;
  position: relative;
}

.dino__head__back {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-width: 0.35em 0 0 0.25em;
  border-top-left-radius: 100% 47%;
  height: 100%;
  width: 50%;
}

.dino__head__topfront {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-top-right-radius: 100%;
  border-width: 0.35em 0.35em 0 0;
  display: block;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}

.dino__head__mouth {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.25em 0;
  display: block;
  height: 30%;
  left: 70%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat {
  background-color: #00a652;
  height: calc(30% + 0.7em);
  left: 40%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat:after {
  background-color: #00b2ff;
  border: 0.35em solid #000;
  border-top-left-radius: 100%;
  border-width: 0.25em 0 0 0.25em;
  content: " ";
  display: block;
  height: 40%;
  left: 0;
  position: absolute;
  top: 80%;
  width: 100%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.dino__head__eye {
  background-color: #000;
  border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
  display: block;
  height: 1em;
  left: 65%;
  position: absolute;
  top: 27%;
  width: 1em;
  -webkit-animation: blink-animation 3s infinite;
  animation: blink-animation 3s infinite;
}

.dino__body {
  position: relative;
  height: 33.333%;
  width: 100%;
}

.dino__body__mid {
  background-color: #00a652;
  display: block;
  height: 100%;
  left: 13%;
  position: absolute;
  width: 50%;
}

.dino__body__mid:before {
  background-color: #00b2ff;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 100%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: -10%;
  width: 40%;
}

.dino__body__mid:after {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 50%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 80%;
  position: absolute;
  top: 20%;
  width: 30%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.dino__arm {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 50% 70%;
  border-width: 0.25em 0.25em 0.25em 0;
  content: " ";
  position: absolute;
  display: block;
  height: 30%;
  left: 55%;
  bottom: 80%;
  width: 30%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-animation: arm-sway-animation 15s infinite;
  animation: arm-sway-animation 15s infinite;
}

.dino__bottom {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.35em 0;
  content: " ";
  position: relative;
  display: block;
  height: 22%;
  left: 3%;
  bottom: 4.3%;
  width: 54%;
  -webkit-transform: rotate(-20deg) scaleX(-1);
  -ms-transform: rotate(-20deg) scaleX(-1);
  transform: rotate(-20deg) scaleX(-1);
}

.dino__tail {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 200%;
  border-top-left-radius: 200%;
  border-width: 0.35em 0.25em 0 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 12.5%;
  left: 0;
  bottom: 12%;
  width: 14%;
  -webkit-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.dino__back-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 7%;
  left: 48%;
  bottom: 4%;
  width: 12%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation: back-leg-animation 3s infinite;
  animation: back-leg-animation 3s infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.dino__front-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 8%;
  left: 41%;
  bottom: 3%;
  width: 14%;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -webkit-animation: front-leg-animation 3s infinite;
  animation: front-leg-animation 3s infinite;
}

.floor {
  background-color: #303030;
  border-radius: 100%;
  display: block;
  height: 2em;
  position: relative;
  margin: 0 auto;
  width: 15em;
  top: -1.5em;
  left: -1em;
  opacity: 0.25;
  z-index: -1;
  -webkit-animation: shadow-animation 1.5s infinite;
  animation: shadow-animation 1.5s infinite;
}

@-webkit-keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }

  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }

  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }

  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }

  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }

  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }

  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@-webkit-keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}

@keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}
.newtonsCradle {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0.9);
}

.frameCover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  z-index: 11;
  height: 1px;
  width: 150px;
  background-color: #d4e4ff;
  border-top: 3px solid #d4e4ff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 0 2px #7ab1fd, 0 0 0 8px #d9fff5, 0 0 0 10.5px #7ab1fd;
}

.frame {
  z-index: 10;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  width: 150px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 0 2.5px #7ab1fd, 0 0 0 8px #d9fff5, 0 0 0 10.5px #7ab1fd;
}

.frame::before,
.frame::after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 22.5px;
  border: 2.5px solid #7ab1fd;
  border-radius: 2px;
  background-color: #d9fff5;
}

.frame::before {
  left: -18px;
}

.frame::after {
  right: -18px;
}

.base {
  z-index: 11;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 202.5px;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(#a3aeff 0 70%, #11426a 70%);
}

.sphere-wrap {
  position: relative;
  display: flex;
  z-index: 9;
  flex-direction: column;
  align-items: center;
}

.sphere-wrap.left {
  animation: swing-left 2s ease-in-out infinite;
  transform-origin: top right;
}

.sphere-wrap.right {
  animation: swing-right 2s ease-in-out infinite;
  transform-origin: top left;
}

.string {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  height: 50px;
  width: 2px;
  background-color: #11426a;
  z-index: 0;
}

.sphere {
  z-index: 9;
  position: relative;
  height: 19.5px;
  width: 19.5px;
  margin-top: 58px;
  border-radius: 50%;
  border: 1.75px solid #11426a;
  background: radial-gradient(
    circle at 28% 28%,
    white 0% 20%,
    #ffe791 20% 60%,
    #eec223 60% 100%
  );
}

.sphere.center::before {
  content: "";
  display: block;
  height: 60px;
  width: 2px;
  background-color: #11426a;
  transform: translateX(7.5px) translateY(-61px);
}

/* animation */
@keyframes swing-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swing-right {
  0%,
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
